<div class="result">
  <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}</a>
  <iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/{{video.id.videoId}}?enablejsapi=1&showinfo=0"
  frameborder="0"></iframe>

{{#if addedToFavorite}}
<div class="buttons">
  <button><i class="fa fa-star" aria-hidden="true"></i></button>
</div>
{{else}}
<div class="buttons">
  <button {{action 'addFavorite' video}}><i class="fa fa-star" aria-hidden="true"></i></button>
</div>
{{/if}}
<div class="buttons">
  <button type="button" name="button"><i class="fa fa-twitter" aria-hidden="true"></i></button>
</div>
</div>
