<div class="result">
  <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}</a>
  <iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/{{video.id.videoId}}?enablejsapi=1&showinfo=0"
  frameborder="0"></iframe>

{{#if session.isAuthenticated}}
  {{#if addedToFavorite}}

    <div class="buttons">
      <button><i class="fa fa-star clicked" aria-hidden="true"></i></button>
      <!-- <button><i class="fa fa-twitter" aria-hidden="true"></i></button>
      <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
      <button><i class="fa fa-google-plus" aria-hidden="true"></i></button> -->
    </div>
  {{else}}
    <div class="buttons">
      <button {{action 'addFavorite' video}} alt="Add video to favorites"><i class="fa fa-star" aria-hidden="true"></i></button>
      <!-- <button><i class="fa fa-twitter" aria-hidden="true"></i></button>
      <button><i class="fa fa-facebook" aria-hidden="true"></i></button>
      <button><i class="fa fa-google-plus" aria-hidden="true"></i></button> -->
    </div>
  {{/if}}

  {{else}}
    <div class="buttons">
      <p>Login to add to favorites</p>
    </div>
  {{/if}}
</div>
