<div class="container">
  <header>
    <nav>
      {{#link-to 'index'}}
      <span id="logo"><span id="upper">LOUSY</span><br>LIFEHACKS</span>
      {{/link-to}}
      {{#unless session.isAuthenticated}}
      <div class="user">
        <a href="#" {{action 'login'}}>Login</a>
      </div>
      {{else}}
      <div class="user">
        <a href="#" {{action 'logout'}}>Logout as<br>{{session.currentUser.displayName}}</a>
        <a href='http://myaccount.google.com/' target='_blank'>
          <img src='{{session.currentUser.profileImageURL}}'/>
        </a>
      </div>
      {{/unless}}
    </nav>
    <p>
      Ever wondered what’s the fastest and most efficient way to do a simple task?<br>
      Well now you can find the absolute worst videos to instruct you!<br>
    </p>
  </header>

  {{outlet}}
</div>
